@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-border: hsl(214.3 31.8% 91.4%);
  --color-input: hsl(214.3 31.8% 91.4%);
  --color-ring: hsl(215 20.2% 65.1%);
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 47.4% 11.2%);

  --color-primary: #a146a1;
  --color-primary-foreground: hsl(0 0% 100%);

  --color-brand: #a146a1;
  --color-brand-light: #c084fc;

  --color-secondary: hsl(210 40% 96.1%);
  --color-secondary-foreground: hsl(222.2 47.4% 11.2%);

  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  @keyframes vertical-scroll {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-50%);
    }
  }

  .animate-vertical-scroll {
    animation: vertical-scroll 20s linear infinite;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-br from-slate-900 to-slate-600;
}